
<html lang="en">
    <head>
    <title>WEB GIS NV</title>
    <!--Libraries for -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 
    <script type="text/css">
        .num{
            background:#000;
            color:#fff;
            padding:10px;
            width:50px;
            text-align:center;
        }
    </script>
</head>
 


   <body>
    <!--
        Bootstrap slider: https://getbootstrap.com/docs/5.1/components/carousel/#individual-carousel-item-interval
    -->
   
    <p>Showing Images <%= myData.startIndex %> to <%= myData.endIndex %> of <%= myData.totalNumberOfImages %></p>
  
   <% if(myData.MorePrevious) { %>
    <p>I have previous</p>

      <% } %> 
   
   <div id="carouselExampleIndicators" class="carousel" data-ride="carousel" data-interval="false" width="500px">
      <div class="carousel-inner">

        <% myData.listOfImages.forEach(function(image, index) { %>
         
            <div class="carousel-item  <% if(index == 0) { %> active <% } %> ">
               <p><%= image %> , <%= (index) + myData.startIndex %></p>
                <img class="d-block w-100" src="/<%= image %>"  
                prev-slides="<%= myData.MorePrevious%>" more-slides="<%= myData.moreToGet%>" 
                alt="First slide">
            </div>
        <% }) %>

        <% myData.onlyImagesName.forEach(function(imageName, index) { %>
        <div hidden u="caption" id="index_<%=index%>" 
        fname="<%=imageName%>"  prev-slides="<%= myData.MorePrevious%>" more-slides="<%= myData.moreToGet%>" style="position: absolute; top: 25px; left: 5px; background-color: #ffffff">08_20200106_05235.jpg(5236)</div>
        </div>
        <% }) %>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        
    </div>  

    <div class="num"></div>
    
    <script>
            var currentIndex = $('div.carousel-item').index() + 1; // 1
            var totalItems = $('.carousel-item').length; // 8
            

            var down_index;

            $('.num').html(''+currentIndex+'/'+totalItems+'');
        
            /*
            *   Slider events :
            *
            * 
            */

           
           var anAttr = '';
           
           //Next button 
            $('a[data-slide="next"]').click(function(done)  {
                 currentIndex += $('div.carousel-item').index() + 1;
                console.log("curret index", currentIndex);
                //End Slide.
                if(currentIndex == totalItems) { 
                    var currentSlide = document.getElementById('index_' + currentIndex);
                    anAttr = 'more-slides';
                    var fName = currentSlide.getAttribute('fname');
                    var currentURL = decodeURIComponent((window.location.href+'').replace(/\+/g, '%20'));
				    var newURL = currentURL.slice(0, currentURL.lastIndexOf('\\') + 1) + fName;     
                    window.location.assign(newURL);
                }
               
                $('.num').html(''+currentIndex+'/'+totalItems+'');
            });

            //Prev button
            $('a[data-slide="prev"]').click(function()  {
                currentIndex = currentIndex - $('div.carousel-item').index() - 1;
               
              
                //Start of slide.
                if(currentIndex == 0) { 
                    var currentSlide = document.getElementById('index_' + currentIndex);
                    anAttr = 'prev-slides';
                    var fName = currentSlide.getAttribute('fname');
                    var currentURL = decodeURIComponent((window.location.href+'').replace(/\+/g, '%20'));
				    var newURL = currentURL.slice(0, currentURL.lastIndexOf('\\') + 1) + fName;     
                    window.location.assign(newURL);
                  
                }

                $('.num').html(''+currentIndex+'/'+totalItems+'');
            });
           
           </script>
    
  </body>
</html>
