<!DOCTYPE html>
<html lang="en">

<head>
    <title>FOTI_WEB GIS NV</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--Libraries for -->
    <%- include('partials/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="../public/css/fotiStyle.css">
    
</head>

<body>
    <!--Metadata-->
    <p>Showing Images <%= myData.startIndex %> to <%= myData.endIndex %> of <%= myData.totalNumberOfImages %></p>    
    <!--Slider Div-->
    <div id="myCarousel" class="carousel" data-ride="carousel slide" data-interval="false" width="500px">

        <div class="carousel-inner">

            <% myData.listOfImages.forEach(function(image, index) { %>
                <div class="carousel-item  <% if(index == 10) { %> active <% } %>  data-slide-number=<%= index %>">
                    <p>
                        
                        <%= image.split("/").pop() %> , <%= (index) + myData.startIndex %>
                    </p>
                    <img class="d-block w-100" src="/<%= image %>" alt="First slide" />
                </div>
            <% }) %>
                    <!-- Image Navigator.-->
                    <ul class="carousel-indicators list-inline border px-2" style="margin-top: -59px; margin-right: 0%; margin-left: 0%;">
                        <% myData.listOfImages.forEach(function(imageName, index) { %>
                            <li class="list-inline-item ">

                                <a class="mine" id="carousel-selector-<%=  index %>"
                                    onclick="changeImage(`<%= index %>`)" class="selected" data-slide-to="<%=  index %>"
                                    data-target="#myCarousel">
                                    <img src="/<%= imageName %>" class="img-fluid" />
                                </a>
                            </li>
                            <% }) %>
                    </ul>

                    <% myData.onlyImagesName.forEach(function(imageName, index) { %>
                        <div hidden u="caption" id="index_<%=index + 1%>" fname="<%=imageName%>"
                            prev-slides="<%= myData.MorePrevious%>" more-slides="<%= myData.moreToGet%>"
                            style="position: absolute; top: 25px; left: 5px; background-color: #ffffff">
                            08_20200106_05235.jpg(5236)</div>
        </div>
        <% }) %>

            <!-- Carasoul Next & Prev buttons -->
            <%- include('partials/navigationControls.ejs') %>

    </div>

    <!--JS to control navigation buttons-->
    <script src="../public/js/controlImages.js">    
    </script>
    </body>
</html>

