<html lang="en">

<head>
  <title>POLE_WEB GIS NV</title>
  <!--Libraries for -->
  <%- include('partials/header.ejs') %>
  <link rel="stylesheet" href="../public/css/poleStyle.css">

</head>

<body>
  <div id="myCarousel" class="carousel" data-ride="carousel slide" data-interval="false" width="500px">
    <div class="carousel-inner">
      <% myData.poleImages.forEach(function(image, index) { %>
        <div class="carousel-item <% if(index == 0) { %> active <% } %> data-slide-number=<%= index %>">
          <img intrinsicsize="350 x 600" class="rounded mx-auto d-block" style="float: center" height="100%"
            src="/<%= image %>" alt="First slide" />
        </div>

        <% })%>
          <!--Bullet Navigator-->
          <div class="sbn-list">
            <div class="sbn sbn02">
              <!--List of Images-->
              <ul>
                <% myData.poleImages.forEach(function(image, index) { %>
                  <li>
                    <a id="carousel-selector-<%=  index %>" class="<% if(index == 0) {%>is-active<%} %>"
                      data-slide-to="<%=  index %>" data-target="#myCarousel">
                    </a>
                  </li>

                  <% })%>
              </ul>
            </div>
          </div>
          <!-- Carasoul Next & Prev buttons -->
    <%- include('partials/navigationControls.ejs') %>
    </div>

    

  </div>

  <script>
    //Update the navigation selector.
    $("ul li a").on("click", function () {
      $(this).closest("ul").find("a").removeClass("is-active");
      $(this).addClass("is-active");
    });

    $("a.carousel-control-next").click(function () {
      $(this).closest("div.sbn sbn02 ul").find("a").removeClass("is-active");
      $(this).addClass("is-active");
    });

    $('a.carousel-control-prev').click(function () {
      $(this).closest("ul").find("a").removeClass("is-active");
      $(this).addClass("is-active");
    });


  </script>
</body>

</html>